GalileoRemoteControl/RemoteControl/Service References/Galileo/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Galileo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGalileo_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IGalileo_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IGalileo_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IGalileo_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IGalileo_Shutdown_InputMessage">
    <wsdl:part name="parameters" element="tns:Shutdown" />
  </wsdl:message>
  <wsdl:message name="IGalileo_Shutdown_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShutdownResponse" />
  </wsdl:message>
  <wsdl:message name="IGalileo_Restart_InputMessage">
    <wsdl:part name="parameters" element="tns:Restart" />
  </wsdl:message>
  <wsdl:message name="IGalileo_Restart_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartResponse" />
  </wsdl:message>
  <wsdl:message name="IGalileo_ApplyFirmware_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyFirmware" />
  </wsdl:message>
  <wsdl:message name="IGalileo_ApplyFirmware_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyFirmwareResponse" />
  </wsdl:message>
  <wsdl:portType name="IGalileo">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IGalileo/Start" message="tns:IGalileo_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGalileo/StartResponse" message="tns:IGalileo_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IGalileo/Stop" message="tns:IGalileo_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGalileo/StopResponse" message="tns:IGalileo_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Shutdown">
      <wsdl:input wsaw:Action="http://tempuri.org/IGalileo/Shutdown" message="tns:IGalileo_Shutdown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGalileo/ShutdownResponse" message="tns:IGalileo_Shutdown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Restart">
      <wsdl:input wsaw:Action="http://tempuri.org/IGalileo/Restart" message="tns:IGalileo_Restart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGalileo/RestartResponse" message="tns:IGalileo_Restart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyFirmware">
      <wsdl:input wsaw:Action="http://tempuri.org/IGalileo/ApplyFirmware" message="tns:IGalileo_ApplyFirmware_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGalileo/ApplyFirmwareResponse" message="tns:IGalileo_ApplyFirmware_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GalileoEndpoint" type="tns:IGalileo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/IGalileo/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap:operation soapAction="http://tempuri.org/IGalileo/Stop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Shutdown">
      <soap:operation soapAction="http://tempuri.org/IGalileo/Shutdown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restart">
      <soap:operation soapAction="http://tempuri.org/IGalileo/Restart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyFirmware">
      <soap:operation soapAction="http://tempuri.org/IGalileo/ApplyFirmware" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Galileo">
    <wsdl:port name="GalileoEndpoint" binding="tns:GalileoEndpoint">
      <soap:address location="http://localhot:10000/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>